.text-center {
    text-align: center;
  }
.top-image {
  text-align: center;
}
.top-image img {
  border-color: red !important;
}

h1, h2 {
    color:rgba(0, 0, 0, 0.822);
  }

.top-hero {
 
background: rgba(255, 255, 255, 0.5);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(3.3px);
-webkit-backdrop-filter: blur(3.3px);
border: 1px solid rgba(255, 255, 255, 0.66);
}

header img {
    border-color:aquamarine; 
    border-style: solid;
    border-width: 10px;
    transition: ease-in 1s;
  
  }

header img:hover {
    border-color: aquamarine;
  }
  
a {
    color: red;
    transition: ease-in 1s;
  }
a:hover {
    color: aquamarine;
  }

.tags span {
    
    border: 1px solid red;
    color: red;
    padding: 5px 8px;
    display: inline-block;
    margin: 2px;
    border-radius: 8px;
    font-size: 0.8rem;
  }

  .tags {
    margin: 5px;
  }
.top-container {
    background-image: url('badminton-g95fa3fd90_1920.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }
.nav-link {
  color: red;
  transition: ease-in 1s;
}
.nav-link:hover {
  color: aquamarine;
}
